[submodule "TestbedGenerator/templates/hmi_proxy/python-netfilterqueue"]
	path = TestbedGenerator/templates/hmi_proxy/python-netfilterqueue
	url = https://github.com/manuelFabiano/python-netfilterqueue
[submodule "TestbedGenerator/templates/plc_proxy/python-netfilterqueue"]
	path = TestbedGenerator/templates/plc_proxy/python-netfilterqueue
	url = https://github.com/manuelFabiano/python-netfilterqueue

[submodule "TestbedGenerator/authoritative_node/did_iiot_dht"]
	path = TestbedGenerator/authoritative_node/did_iiot_dht
	url = https://github.com/fratrung/did-iiot-dht.git
